body{
    background-image: url('../assets/iconos.jpg');
    background-size: 100px;
}
header{
    width:96%;
    margin:0 2%;
}
main{
    width:96%;
    margin:0 2%;
}
footer{
    width:96%;
    margin:0 2%;
}
.menu{
    width:96%;
    position:fixed !important;
}
.menu:nth-child(n){
    background-color:transparent !important;
}
@media (max-width:549px){
    .big{
        display:none;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 550px) {
    .small{
        display:none;
    }
}