body{
    background-image: url('../assets/iconos.jpg');
    background-size: 100px;
}
header{
    width:96%;
    margin:0 2%;
    background-image:url('../assets/fondo-imagen.jpg');
    background-position: 60% 50%;
    height:465px;
    padding-bottom: 2rem;
    min-width: 284px !important;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-wrap{
    position:absolute;
    width:96%;
    height:500px;
    min-width: 284px !important;
    background:linear-gradient(to top, rgba(0, 0, 0, 0.823),rgba(255, 255, 255, 0.242));
}
.menu{
    width:96%;
    height:70px;
    z-index: 1;
    position:fixed !important;
    top:0;
    padding: 0 !important;
}
.header-logo{
    display: flex;
    width: 180px !important;
    border-radius: 50%;
}
.logo{
    width:60px;
}
.main-index{
    width:96%;
    margin:0 2%;
    background-image: url('../assets/mesa.jpg');
    background-size: 100vw;
    min-width: 284px !important;
}
.main-carta{
    width:96%;
    margin:0 2% !important;
    padding:5px;
    background-color:darkcyan;
    min-width: 284px !important;
    text-align: center;
}
.main-carta hr{
    width:50%;
    margin: 10px auto !important;
}
.main-carta p{
    margin:0;
}
.main-contacto{
    width:96%;
    margin:0 2% !important;
    text-align: center;
    margin: 15px;
    background-color: rgb(205, 177, 92);
}
.main-row{
    justify-content: space-evenly;
    align-items: center;
    min-width: 284px !important;
    margin: 0 2% !important;
}
.acordeon{
    margin:15px !important;
}
.tarjeta{
    width: 16rem !important;
    height: 20rem !important;
    margin:2% 0 !important;
    animation-name:encoger;
    animation-duration:0.5s;
}
@keyframes agrandar {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
@keyframes encoger {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}
.tarjeta:hover{
    height: 230px;
    min-width: 230px !important;
    margin-top:7px;
    animation-name: agrandar;
    animation-duration: 1s;
    transform: scale(1.1);
}
.tarjeta-imagen{
    height: 230px;
    min-width: 230px !important;
    margin-top:7px;
}
footer{
    width:96%;
    margin:0 2%;
    min-width: 284px !important;
    background-color: beige;
    display:flex;
    justify-content: space-around;
    font-size: xx-small;
}
.seccion-inicio-footer{
    width:200px;
    background: transparent !important;
    border: none !important;
}
.seccion-carta-footer{
    width:200px;
    background: transparent !important;
    border: none !important;
}
.seccion-contacto-footer{
    width:200px;
    background: transparent !important;
    border: none !important;
}
.subscribe{
    text-align: center;
    background: transparent !important;
    border: none !important;
}
.terms{
    background: transparent !important;
    border: none !important;
    text-align: center;
}
.menu:nth-child(n){
    background-color:rgba(0, 0, 0, 0.522) !important;
}
.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.522);
    border-radius:7px;
}
.espaciado{
    margin:10px !important;
}
.aceptar{
    text-align: left;
}
input:valid {
    border: 2px dashed green;
}
footer ul{
    list-style: none;
    padding:0 !important;
}
footer p{
    margin-bottom: 3px;
}
.footer-title{
    margin-bottom: 7px !important;
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width:549px){
    .big{
        display:none;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 550px) {
    .small{
        display:none;
    }
}